<div style="width: 100%; clear: both;">
<div style="float: left; width: 50%;">
<img src="https://www.uoc.edu/content/dam/news/images/noticies/2016/202-nova-marca-uoc.jpg" align="left" width="45%">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;"> Visualizacion de datos Practica 2
</p>
<p style="margin: 0; padding-top: 22px; text-align:right;">
Jerley Andres Mejia Gallo</p>
<p style="margin: 0; padding-top: 22px; text-align:right;">
Tratamiento de datos y creacion de dataset</p>
<p style="margin: 0; text-align:right;">2025-1· Máster universitario en Ciencia de datos (Data science)</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Estudios de Informática, Multimedia y Telecomunicación</p>
</div>
</div>
<div style="width:100%;">&nbsp;</div>

In [133]:
# Permisos para cargar datos en google colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [134]:
import geopandas as gpd
import pandas as pd
import re

# Cargar archivo de ubicaciones
facilities = gpd.read_file('/content/drive/MyDrive/Colab Notebooks/Visualizacion/facilities.gpkg')

# Cargar archivos CSV
minerals = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/minerals.csv')
capacity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/capacity.csv')
reserves = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/reserves.csv')

# Verificar columnas
print(facilities.columns)
print(minerals.columns)
print(capacity.columns)
print(reserves.columns)
minerals.head(5)

Index(['facility_id', 'facility_name', 'facility_other_names', 'sub_site_name',
       'sub_site_other_names', 'facility_type', 'primary_commodity',
       'commodities_products', 'facility_equipment', 'production_start',
       'production_end', 'activity_status', 'activity_status_year',
       'surface_area_sq_km', 'concession_area_sq_km', 'country', 'GID_0',
       'GID_1', 'GID_2', 'GID_3', 'GID_4', 'source_id', 'comment', 'geometry'],
      dtype='object')
Index(['id', 'facility_id', 'year', 'type', 'material', 'value_tonnes',
       'overall_grade_ppm', 'amount_sold_tonnes', 'mine_processing',
       'reporting_period', 'source_id', 'comment'],
      dtype='object')
Index(['id', 'facility_id', 'year', 'material', 'commodity', 'value_tpa',
       'source_id', 'comment'],
      dtype='object')
Index(['id', 'facility_id', 'year', 'material', 'commodity',
       'mineral_value_tonnes', 'commodity_value_tonnes', 'grade_ppm',
       'source_id', 'comment'],
      dtype='object')

,id,facility_id,year,type,material,value_tonnes,overall_grade_ppm,amount_sold_tonnes,mine_processing,reporting_period,source_id,comment
0,1,COM00001.00,2013,Ore mined,O.bulk,1625532,NaN,NaN,NaN,NaN,det_1729,NaN
1,2,COM00001.00,2013,Ore processed,O.bulk,1625532,NaN,NaN,NaN,NaN,det_1729,NaN
2,3,COM00001.00,2014,Ore mined,O.bulk,1452933,NaN,NaN,NaN,NaN,det_1729,NaN
3,4,COM00001.00,2014,Ore processed,O.bulk,1452933,NaN,NaN,NaN,NaN,det_1729,NaN
4,5,COM00001.00,2015,Ore mined,O.bulk,1235053,NaN,NaN,NaN,NaN,det_1730,NaN

In [135]:
facilities_sub = facilities[['facility_id', 'facility_name', 'facility_type',
                             'primary_commodity', 'country', 'geometry']]
minerals_sub = minerals[['facility_id', 'material', 'value_tonnes']]
# material = tipo de mineral, "value_tonnes" = producción
capacity_sub = capacity[['facility_id', 'value_tpa']]
# value_tpa = capacidad anual
reserves_sub = reserves[['facility_id', 'mineral_value_tonnes']]
# mineral_value_tonnes = reservas disponibles
#facilities_sub.columns

In [136]:
# Merge para crear un solo dataframe
df = facilities_sub.merge(minerals_sub, on='facility_id', how='left')
df = df.merge(capacity_sub, on='facility_id', how='left')
df = df.merge(reserves_sub, on='facility_id', how='left')

# Guardar CSV final global
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final.csv', index=False)

In [137]:
mining_final = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final.csv')
print(mining_final.dtypes)
mining_final

facility_id              object
facility_name            object
facility_type            object
primary_commodity        object
country                  object
geometry                 object
material                 object
value_tonnes            float64
value_tpa               float64
mineral_value_tonnes    float64
dtype: object

,facility_id,facility_name,facility_type,primary_commodity,country,geometry,material,value_tonnes,value_tpa,mineral_value_tonnes
0,COM00001.00,777,Mine,Copper,Canada,MULTIPOINT ((-101.8794642 54.7748162)),O.bulk,1625532.0,NaN,3552000.0
1,COM00001.00,777,Mine,Copper,Canada,MULTIPOINT ((-101.8794642 54.7748162)),O.bulk,1625532.0,NaN,3552000.0
2,COM00001.00,777,Mine,Copper,Canada,MULTIPOINT ((-101.8794642 54.7748162)),O.bulk,1625532.0,NaN,3552000.0
3,COM00001.00,777,Mine,Copper,Canada,MULTIPOINT ((-101.8794642 54.7748162)),O.bulk,1625532.0,NaN,3552000.0
4,COM00001.00,777,Mine,Copper,Canada,MULTIPOINT ((-101.8794642 54.7748162)),O.bulk,1625532.0,NaN,3552000.0
...,...,...,...,...,...,...,...,...,...,...
23920,COM01422.02,Zhezkazgan East and West,Mine,Copper,Kazakhstan,POINT EMPTY,NaN,NaN,NaN,NaN
23921,COM01425.01,Zhezkazgan South and Stepnoy,Mine,Copper,Kazakhstan,POINT EMPTY,NaN,NaN,NaN,NaN
23922,COM01425.02,Zhezkazgan South and Stepnoy,Mine,Copper,Kazakhstan,POINT EMPTY,NaN,NaN,NaN,NaN
23923,COM01428.01,Zhunge’er Mines,Mine,Coal,China,POINT (111.250187332602 39.7921770316375),NaN,NaN,NaN,NaN
23924,COM01428.02,Zhunge’er Mines,Mine,Coal,China,POINT (111.256999813179 39.7300683336357),NaN,NaN,NaN,NaN

In [138]:
# Cantidad de minas por pais global
mining_final  = df[df['facility_type'] == 'Mine']
minas_por_pais = mining_final .groupby('country')['facility_name'].nunique()
print(minas_por_pais)

country
Argentina                    13
Australia                   194
Bolivia                       2
Bosnia and Herzegovina        1
Brazil                       55
                           ...
Ukraine                      12
United States of America    199
Venezuela                     2
Zambia                        5
Zimbabwe                      4
Name: facility_name, Length: 61, dtype: int64

In [139]:
#conteo = mining_final['material'].value_counts()
#print(conteo)

In [140]:
# Crear dataset con paises y datos de la union europea
# Lista de países europeos
eu_countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
    'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland',
    'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland',
    'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden'
]

# Filtrar el CSV final completo
df_final_europe = df[df['country'].isin(eu_countries)]

# Guardar CSV filtrado union europea
df_final_europe.to_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final_UE.csv', index=False)

print(f"Registros union europea: {len(df_final_europe)}")
conteo = df_final_europe['material'].value_counts()
print(conteo)

Registros union europea: 2267
material
O.bulk    846
Con.Cu    298
O.Cu      298
Con.Zn    281
Con.Pb    261
O.Zn      172
O.FeS      30
Con.Fe     16
Con.Ni     12
Name: count, dtype: int64

In [141]:
# Verificar creacion del dataset
Finalcsv=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final_UE.csv')
Finalcsv= Finalcsv[Finalcsv['facility_name'] == 'Polkowice-Sieroszowice	']

In [142]:
# Conteo de toneladas para estudio
conteo1 = df_final_europe['mineral_value_tonnes'].value_counts()
print(conteo1)

mineral_value_tonnes
7.620000e+07    475
2.791700e+07    232
1.208000e+07    190
7.880000e+06    190
1.148000e+09    171
1.081600e+07    156
1.900000e+07    152
1.286000e+08    108
7.870000e+06     95
4.200000e+06     95
2.100000e+06     90
7.000000e+06     84
1.300000e+06     80
2.892500e+07     22
4.300000e+06     12
3.940000e+08      8
6.160000e+08      8
Name: count, dtype: int64

In [143]:
# Cargar CSV union europea final
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final_UE.csv')

# Para uso en flourish se es necesario extrar del dato MULTIPOINT la longitud y latitud
# Función para extraer lon y lat desde
def extract_lon_lat(geom):
    if isinstance(geom, str):
        # Buscamos dos números decimales que pueden tener signo negativo
        # y que están separados por un espacio.
        match = re.search(r"(-?\d+\.\d+)\s+(-?\d+\.\d+)", geom)
        if match:
            return float(match.group(1)), float(match.group(2))
    return None, None

# Aplicar extracción
df[['longitude', 'latitude']] = df['geometry'].apply(
    lambda x: pd.Series(extract_lon_lat(x))
)

# Guardar nuevo CSV listo para Flourish
df.to_csv(
    '/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_final_flourish.csv',
    index=False
)

print("CSV listo para Flourish")
print(df[['geometry', 'longitude', 'latitude']].head())

CSV listo para Flourish
                               geometry  longitude   latitude
0  MULTIPOINT ((-6.1803272 37.9655848))  -6.180327  37.965585
1  MULTIPOINT ((-6.1803272 37.9655848))  -6.180327  37.965585
2  MULTIPOINT ((-6.1803272 37.9655848))  -6.180327  37.965585
3  MULTIPOINT ((-6.1803272 37.9655848))  -6.180327  37.965585
4  MULTIPOINT ((-6.1803272 37.9655848))  -6.180327  37.965585

In [144]:
# Verificar coordenadas y minas en Polonia, se detecto de son refinerias y plantas de procesamiento o fundicion se descartan para la practica
df_mines = df[df['country'] == 'Poland']
df_mines

,facility_id,facility_name,facility_type,primary_commodity,country,geometry,material,value_tonnes,value_tpa,mineral_value_tonnes,longitude,latitude
199,COM00064.00,ArcelorMittal Warszawa steel plant,"Smelter, Refinery",Processing,Poland,MULTIPOINT ((20.9152900776263 52.2936087901243)),NaN,NaN,NaN,NaN,20.915290,52.293609
206,COM00218.00,Cedynia Wire Rod Plant,Refinery,Processing,Poland,MULTIPOINT ((16.3475084880397 51.5735630911677)),NaN,NaN,NaN,NaN,16.347508,51.573563
717,COM00481.00,Glogow metallurgical complex,"Smelter, Refinery",Processing,Poland,MULTIPOINT ((15.9781047265609 51.6867188289989)),NaN,NaN,NaN,NaN,15.978105,51.686719
941,COM00718.00,Legnica metallurgical complex,"Smelter, Refinery",Processing,Poland,MULTIPOINT ((16.1216778796135 51.1877742690179)),NaN,NaN,NaN,NaN,16.121678,51.187774
1034,COM00752.00,Lubin,Mine,Copper,Poland,MULTIPOINT ((16.1585588 51.4350727)),NaN,NaN,NaN,NaN,16.158559,51.435073
1268,COM01000.00,Polkowice-Sieroszowice,Mine,Copper,Poland,MULTIPOINT ((16.0651198401017 51.486573226563)...,NaN,NaN,NaN,NaN,16.065120,51.486573
1360,COM01104.00,Rudna,Mine,Copper,Poland,MULTIPOINT ((16.1067580683387 51.5009082359507)),NaN,NaN,NaN,NaN,16.106758,51.500908
2258,COM01000.01,Polkowice-Sieroszowice,Mine,Copper,Poland,POINT (16.0651198401017 51.486573226563),NaN,NaN,NaN,NaN,16.065120,51.486573
2259,COM01000.02,Polkowice-Sieroszowice,Mine,Copper,Poland,POINT (16.0416456227948 51.5549802945145),NaN,NaN,NaN,NaN,16.041646,51.554980
2260,COM01000.03,Polkowice-Sieroszowice,Mine,Copper,Poland,POINT (16.0197797354811 51.5078479611637),NaN,NaN,NaN,NaN,16.019780,51.507848
2261,COM01000.04,Polkowice-Sieroszowice,Mine,Copper,Poland,POINT (16.0132313984193 51.5952342446706),NaN,NaN,NaN,NaN,16.013231,51.595234

In [145]:
# Minas por pais de la union europea
df_mines = df[df['facility_type'] == 'Mine']

minas_por_pais = df_mines.groupby('country')['facility_name'].nunique()

print(minas_por_pais)

country
Finland     4
Ireland     3
Poland      3
Portugal    2
Spain       2
Sweden      7
Name: facility_name, dtype: int64

In [146]:
# Verificacion minas en Suecia para estudio
minas_suecia = df[(df['facility_type'] == 'Mine') & (df['country'] == 'Sweden')]

# Extraemos solo la columna de los nombres
nombres_minas = minas_suecia['facility_name'].unique()

print(nombres_minas)

['Aitik' 'Garpenberg' 'Kiruna' 'LKAB Southern Division' 'Storliden'
 'The Boliden Area' 'Zinkgruvan']

In [147]:
df_mines = df[df['facility_type'] == 'Mine']

In [148]:
# Filtrar solo minas con producción válida
df_map2 = df[
    (df['facility_type'] == 'Mine') &
    (df['value_tonnes'].notna()) &
    (df['value_tonnes'] > 0)
]

# Seleccionar columnas necesarias para el mapa
df_map2 = df_map2[
    [
        'facility_name',
        'country',
        'primary_commodity',
        'material',
        'latitude',
        'longitude',
        'value_tonnes'
    ]
]

# Guardar CSV específico para el Mapa de visualizacion 2 pregunta 1
df_map2.to_csv(
    '/content/drive/MyDrive/Colab Notebooks/Visualizacion/map2_production_by_mineral.csv',
    index=False
)

print(f"Registros: {len(df_map2)}")
df_map2.head()

Registros: 2203

,facility_name,country,primary_commodity,material,latitude,longitude,value_tonnes
0,Aguablanca,Spain,Nickel,O.bulk,37.965585,-6.180327,997224.0
1,Aguablanca,Spain,Nickel,O.bulk,37.965585,-6.180327,997224.0
2,Aguablanca,Spain,Nickel,O.bulk,37.965585,-6.180327,1550437.0
3,Aguablanca,Spain,Nickel,O.bulk,37.965585,-6.180327,1486800.0
4,Aguablanca,Spain,Nickel,O.bulk,37.965585,-6.180327,1707330.0

In [149]:
# Aplicamos los filtros para verificar produccion por mineral especifico
minas_suecia = df[(df['primary_commodity'] == 'Iron') & (df['country'] == 'Sweden')]

# Sumamos la columna value_tonnes
total_toneladas = minas_suecia['value_tonnes'].sum()

print(f"El valor total de toneladas para minas  es: {total_toneladas}")

El valor total de toneladas para minas  es: 202000000.0

In [150]:
df_map2['value_tonnes']

0        997224.0
1        997224.0
2       1550437.0
3       1486800.0
4       1707330.0
          ...
2248     178000.0
2249     178000.0
2250    1120000.0
2251    1120000.0
2252    1120000.0
Name: value_tonnes, Length: 2203, dtype: float64

In [151]:
minas_por_pais = df_map2.groupby('country')['facility_name'].nunique()

print(minas_por_pais)

country
Finland     4
Ireland     3
Portugal    2
Spain       2
Sweden      7
Name: facility_name, dtype: int64

In [152]:
df_mines['facility_name'].nunique()
df_mines['country'].nunique()

6

In [153]:
df_map2['facility_name'].value_counts()
df_map2[df_map2['facility_name'] == 'Polkowice-Sieroszowice	']

Empty DataFrame
Columns: [facility_name, country, primary_commodity, material, latitude, longitude, value_tonnes]
Index: []

In [154]:
# Filtrar solo minas con capacidad conocida para responder pregunatas 2 a 4
df_p3 = df[df['value_tpa'].notna()]

# Seleccionar columnas necesarias para analisis en Flourish
df_p3_flourish = df_p3[['facility_name', 'country', 'material', 'value_tonnes',
                         'value_tpa', 'latitude', 'longitude']]

# Guardar CSV
df_p3_flourish.to_csv('/content/drive/MyDrive/Colab Notebooks/Visualizacion/mining_p3_flourish.csv', index=False)

print(df_p3_flourish.head())

         facility_name  country material  value_tonnes  value_tpa   latitude  \
200    Atlantic Copper    Spain      NaN           NaN   300000.0  37.227721
201    Atlantic Copper    Spain      NaN           NaN   286000.0  37.227721
202  Aughinish Alumina  Ireland      NaN           NaN  1990000.0  52.628448
219          Dunkerque   France      NaN           NaN   282000.0  50.999484
222        Eurallumina    Italy      NaN           NaN  1085000.0  39.209412

     longitude
200  -6.949365
201  -6.949365
202  -9.060874
219   2.167468
222   8.399670

In [155]:
# Agrupar toneladas totales para estudio
df.groupby("country")["mineral_value_tonnes"].sum().sort_values(ascending=False)

country
Sweden        2.472093e+11
Finland       1.481815e+10
Portugal      6.476744e+09
Ireland       3.476000e+09
Spain         5.160000e+07
Germany       0.000000e+00
France        0.000000e+00
Belgium       0.000000e+00
Italy         0.000000e+00
Poland        0.000000e+00
Luxembourg    0.000000e+00
Slovakia      0.000000e+00
Romania       0.000000e+00
Name: mineral_value_tonnes, dtype: float64

Finalmete se generaron 5 dataset los cuales contienen las columnas con la informacion importate para crar las visualizaciones necesarias, primero se creo uno general de manera global 'mining_final.csv', lo sigue uno ya con valores filtrados correspondientes a la union europea 'mining_final_UE.csv' y los correspondientes a las visualizaciones, 'mining_final_flourish', 'mining_p3_flourish.csv', 'map2_production_by_mineral.csv'.